@charset "UTF-8";

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin: 10px;
	border: 1px solid black;
	width: 400px;
	text-align: center;
	font-size: 24px;
}

.article {
	margin: 10px;
	border: 1px solid black;
	width: 400px;
	min-height: 300px;
	text-align: left;
	font-size: 16px;
	overflow-y: scroll;
}

.commentFrm {
	margin-top: 20px;
}

.commentWrite {
	width: 400px;
}

.commentFrm input {
	float: right;
}

.commentView {
	width: 400px;
	margin-bottom: 10px;
}

.commentTitle {
	width: 400px;
	border-bottom : 1px dashed black;
}

.commentContent {
	width: 400px;
}